#header {
    background-size: cover;
    color:white;
    background-color:rgb(0, 62, 143);
    position:relative;
    margin: 10px;
}

#header h1 {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}

.jumbotron {
    padding: 16px;
}

#current-weather {
    padding-left: 16px;
    margin-left: 2px;
}

#clear-storage {
    color:blue;
    text-decoration: none;
    font-size: 12px;
}

#clear {
    margin-top: 5px;
    margin-bottom: 5px;
}

#search-button {
    margin-left: 5px;
}

#search-city {
    margin-left: 5px;
}

ul {
    border-top: solid 2px rgb(224, 220, 220)  ;
    margin-top: 5px;
    padding-top: 5px;
}

.search {
    font-size: 24px;
    font-weight: bold;
}

.search-city-label {
    font-size: 26px;
    font-weight: bold;
}

.no-city {
    font-size: 20px;
    color: red;
}

#five-day-forecast {
    margin-top: 10px;
}